<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557519141026-l7tc4i3r0taf1rh98dsoglnec66143fu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557519141026-l7tc4i3r0taf1rh98dsoglnec66143fu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>557519141026-0gf7jc2ig58a1983o73mt8s8dcavmfkk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCnDe43CN9UItaXHvGRlprOyq_PFRGJPGM</string>
	<key>GCM_SENDER_ID</key>
	<string>557519141026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.rassoiV2</string>
	<key>PROJECT_ID</key>
	<string>rassoi-767af</string>
	<key>STORAGE_BUCKET</key>
	<string>rassoi-767af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557519141026:ios:9850efa92217c06c453ffb</string>
</dict>
</plist>